<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>To do List</title>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Jua&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/style.css">
</head>
<body>

<div class = "main">
    <header class = "header-title">
        <h1 class = "title">
            TodoList
        </h1>
    </header>

    <main class = "add-work">
        <h2>할일 추가</h2>

        <form th:action="@{/post/new}" action="#" method="post" class = "add-form" th:object = "${post}">

            <div class ="form-content1">
                <label for = "todo">해야할 일</label>
                <input class = "inputBox" type="text" id = "todo" placeholder="오늘할일"
                       th:name = "todoTitle" th:field = "*{todoTitle}" th:errorclass = "field-error-input" />
                <div class ="field-error" th:errors="*{todoTitle}"></div>
            </div>


            <div class = "form-content2">
                <label for = "doing-person">해야할 사람</label>
                <input class = "inputBox" type="text" id = "doing-person"
                       th:name = "person" th:field = "*{person}" th:errorclass = "field-error-input" />
                <div class ="field-error" th:errors="*{person}"></div>
            </div>

            <div class = "form-content3">
                <label for = "memo">메모</label>
                <textarea  id = "memo" th:name = "memo" th:field = "*{memo}"></textarea>
            </div>

            <div class = "form-content4">
                <div>우선순위</div>
                <div th:each="primary:${primaryTypes}">
                    <label th:for = "${#ids.next('primaryTypes')}" th:text = "|${primary.description} : |">1 : </label>
                    <input type="radio" name = "primary" th:field = "*{primaryTypes}" th:value ="${primary.name()}" />
                </div>
                <div class ="field-error" th:errors="*{primaryTypes}"></div>
            </div>



            <div class = "buttons">
                <button type = "submit" class = "submit">Submit</button>
                <button type = "button" class = "cancel">Cancel</button>
            </div>

        </form>

    </main>

</div>

<script src = "/form-script.js"></script>
</body>
</html>